*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'Arial', Times, serif;
}

.header-container{
    width: 100%;
    height: 100px;
    text-align: center;
    margin:0 auto;
}

.header--title{
    margin: 5px;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px;
    background-color: #73c0ff;
    border: 2px solid #57b4ff;
    box-shadow:0px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.header-error{
    display: none;
    width: 70%;
    height: 30px;
    background-color: rgb(224, 69, 69);
    margin: 5px auto;
    border-radius: 50px;
    
}

main{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;

}

.main-container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.container-body {
    display: flex ;
    flex-direction: column;
    box-shadow:0 2px 4px 4px rgba(63, 128, 249, 0.4);
    padding: 5px;
}

.body-article{
    width: 81%;
    height: 300px;
    border: 2px solid;
    margin: 10px auto;
}

.body-article img{
    width: 220px;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

.body-article .article--button{
    width: 70%;
    height: 35px;
    border-radius: 30px;
    background-color: #73c0ff;
    color: #000;
    border: none;
    margin-top: 4px;
    cursor: pointer;
}

.main-container .btn{
    width: 80%;
    height: 35px;
    border-radius: 30px;
    background-color: #5afe57;
    color: #000;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.main-container-upload{
    width: 90%;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
}

.upload--title, .favorites--title{
    font-size: 1.6rem;
    font-weight: bold;
margin: 10px auto;    
}

.main-container-upload form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 150px;
}

.main-container-upload button{
    position: relative;
    height: 35px;
    border-radius: 30px;
    background-color: #5afe57;
    color: #000;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.main-container-upload button i{
    position: absolute;
    top: calc(60% - 10px);
    left: calc(60%);
    
}

.main-container-upload label{
    font-size: 1.6rem;
    font-weight: 400;
    text-align: start;
}

.main-container-favorites {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    padding: 10px;
    flex-wrap: wrap; /* Permitir que los artículos se ajusten a varias filas si es necesario */
    justify-content: space-between; /* Espacio entre los elementos */
}

@media screen and (min-width: 768px) {
    .container-body {
        flex-direction: row; /* Cambiar a fila en pantallas grandes */
        justify-content: space-between; /* Espacio entre los elementos */
        flex-wrap: wrap; /* Permitir que se ajusten al tamaño */
    }

    .favorites{
        display: flex;
        flex-wrap: wrap;
    }

    .body-article {
        width: 30%; /* Hacer que cada artículo ocupe un 30% del ancho */
        height: auto; /* Ajustar la altura según el contenido */
        margin-bottom: 10px; /* Espacio entre los artículos */
    }

    .main-container-upload button i{
        position: absolute;
        top: calc(65% - 11px);
        left: calc(52%);
        
    }

    .favorites--title{
        display: block;
    }

    .main-container .btn{
        width:30%;
    }

    .body-article img{
        width: 300px;
        height: 280px;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
    }


}